Repository sudha-sindhuri/PartsUnlimited: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines-web.yml

azure-pipelines-api.yml:

name: 1.0.0$(Rev:.r)

trigger:
  paths:
    include:
    - src/PartsUnlimited.API
    - k8s/helm/partsunlimited-api

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  azureSubEndpoint: '10M Client Demo'
  acrName: 'cdk8spu.azurecr.io'
  imageRepoName: 'PartsUnlimited-API'

steps:
# - script: docker build -f Dockerfile -t $(imageName) .
#   displayName: 'docker build'
#   continueOnError: true

- task: Docker@1
  displayName: 'Build the image'
  inputs:
    dockerfile: 'api.Dockerfile'
    azureSubscriptionEndpoint: '$(azureSubEndpoint)'
    azureContainerRegistry: '$(acrName)'
    imageName: '$(imageRepoName):$(Build.BuildNumber)'
  continueOnError: false # only set to true if you are running unit tests and need the results

- task: Docker@1
  displayName: 'Push the image'
  inputs:
    command: 'Push an image'
    azureSubscriptionEndpoint: '$(azureSubEndpoint)'
    azureContainerRegistry: '$(acrName)'
    imageName: '$(imageRepoName):$(Build.BuildNumber)'
  condition: succeeded()

azure-pipelines-web.yml:

name: 1.0.0$(Rev:.r)

trigger:
  paths:
    include:
    - src/PartsUnlimitedWebsite
    - k8s/helm/partsunlimited-website

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  azureSubEndpoint: '10M Client Demo'
  acrName: 'cdk8spu.azurecr.io'
  imageRepoName: 'partsunlimited-website'

steps:
# - script: docker build -f Dockerfile -t $(imageName) .
#   displayName: 'docker build'
#   continueOnError: true

- task: Docker@1
  displayName: 'Build the image'
  inputs:
    dockerfile: 'website.Dockerfile'
    azureSubscriptionEndpoint: '$(azureSubEndpoint)'
    azureContainerRegistry: '$(acrName)'
    imageName: '$(imageRepoName):$(Build.BuildNumber)'
  continueOnError: true # to make sure we get the test results even when the tests fail

- script: |
    export id=$(docker images --filter "label=test=true" -q | head -1)
    docker create --name testcontainer $id
    docker cp testcontainer:/testresults ./testresults
    docker rm testcontainer
  displayName: 'get test results'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '**/test*.xml' 
    searchFolder: '$(System.DefaultWorkingDirectory)/testresults'
    publishRunAttachments: true
  displayName: 'Publish test results'

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: 'cobertura'
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/testresults/coverage/coverage.cobertura.xml'
    reportDirectory: '$(System.DefaultWorkingDirectory)/testresults/coverage/reports'
  displayName: 'Publish coverage reports'

- task: Docker@1
  displayName: 'Push the image'
  inputs:
    command: 'Push an image'
    azureSubscriptionEndpoint: '$(azureSubEndpoint)'
    azureContainerRegistry: '$(acrName)'
    imageName: '$(imageRepoName):$(Build.BuildNumber)'
  condition: succeeded()

Giving up on TLS for internal ingress
  k8s/env/traefik.internal.values.release.yaml
  k8s/helm/partsunlimited-website/templates/deployments.yaml
Due: azure-pipelines-web.yml

Fix defaults
  k8s/env/traefik.internal.values.release.yaml
Due: none

Update fx
  PartsUnlimited.Telemetry/ITelemetryProvider.cs
  PartsUnlimited.Telemetry/PartsUnlimited.Telemetry.csproj
  PartsUnlimited.Telemetry/Providers/EmptyTelemetryProvider.cs
  PartsUnlimited.Telemetry/Providers/PrometheusTelemetryProvider.cs
  PartsUnlimited.sln
  src/PartsUnlimitedWebsite/Controllers/ShoppingCartController.cs
  src/PartsUnlimitedWebsite/PartsUnlimitedWebsite.csproj
  src/PartsUnlimitedWebsite/Startup.cs
  test/PartsUnlimited.UnitTests/PartsUnlimited.UnitTests.csproj
Due: azure-pipelines-web.yml

Adding prometheus
  PartsUnlimited.Telemetry/Providers/PrometheusAppExtensions.cs
  PartsUnlimited.Telemetry/Providers/PrometheusTelemetryProvider.cs
  src/PartsUnlimited.Models/PartsUnlimited.Models.csproj
  src/PartsUnlimited.WebJobs.ProcessOrder/PartsUnlimited.WebJobs.ProcessOrder.csproj
  src/PartsUnlimited.WebJobs.UpdateProductInventory/PartsUnlimited.WebJobs.UpdateProductInventory.csproj
  src/PartsUnlimitedWebsite/Controllers/ShoppingCartController.cs
  src/PartsUnlimitedWebsite/PartsUnlimitedWebsite.csproj
  src/PartsUnlimitedWebsite/Startup.cs
Due: azure-pipelines-web.yml

Moving telemetry project to src folder
  src/PartsUnlimited.Telemetry/ITelemetryProvider.cs
  src/PartsUnlimited.Telemetry/PartsUnlimited.Telemetry.csproj
  src/PartsUnlimited.Telemetry/Providers/EmptyTelemetryProvider.cs
  src/PartsUnlimited.Telemetry/Providers/PrometheusAppExtensions.cs
  src/PartsUnlimited.Telemetry/Providers/PrometheusTelemetryProvider.cs
  src/PartsUnlimitedWebsite/PartsUnlimitedWebsite.csproj
Due: azure-pipelines-web.yml

Checking in sln changes
  PartsUnlimited.sln
Due: none

Adding ASPNETCORE_ENVIRONMENT
  k8s/helm/partsunlimited-api/templates/deployments.yaml
  k8s/helm/partsunlimited-api/values.release.yaml
  k8s/helm/partsunlimited-website/templates/deployments.yaml
  k8s/helm/partsunlimited-website/values.release.yaml
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Adding logger to PrometheusTelemetryProvider
  src/PartsUnlimited.Telemetry/Providers/PrometheusTelemetryProvider.cs
  src/PartsUnlimitedWebsite/Startup.cs
Due: azure-pipelines-web.yml

Update prometheus telemetry Add load test yml and lua Add website-monitor.yml
  k8s/yml/website-monitor.yml
  src/PartsUnlimited.Telemetry/Providers/PrometheusAppExtensions.cs
  src/PartsUnlimited.Telemetry/Providers/PrometheusTelemetryProvider.cs
  src/PartsUnlimitedWebsite/Startup.cs
  test/load/load-job.local.yml
  test/load/load-job.release.yml
  test/load/random-category.lua
Due: azure-pipelines-web.yml

Changing gauge to counter
  src/PartsUnlimited.Telemetry/Providers/PrometheusTelemetryProvider.cs
Due: none

Add load test logic using wrk
  test/load/load-job.local.yml
  test/load/load-job.release.yml
  test/load/load-pod.local.yml
  test/load/random-category.lua
Due: none

Add test yml files
  k8s/env/traefik.values.local.external.yaml
  k8s/env/traefik.values.local.internal.yaml
  k8s/helm/partsunlimited-api/values.local.yaml
  k8s/helm/partsunlimited-website/values.local.yaml
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Add prometheus config script
  k8s/env/monitoring/create-monitoring.sh
  k8s/env/monitoring/custom-dashboards/pu-business-dashboard.json
  k8s/env/monitoring/custom-dashboards/pu-perf-dashboard.json
Due: none

Add service monitor
  k8s/helm/partsunlimited-website/templates/service-monitor.yaml
  k8s/helm/partsunlimited-website/values.yaml
Due: azure-pipelines-web.yml

Fixing cmd args for release file
  test/load/load-job.release.yml
Due: none

fixing filenames
  k8s/env/monitoring/create-monitoring.sh
Due: none

Adding in grafana to set cmd
  k8s/env/monitoring/create-monitoring.sh
Due: none

Update token name
  test/load/load-job.release.yml
Due: none

Adding namespace
  test/load/load-job.release.yml
Due: none

Fixing cron
  test/load/load-job.release.yml
Due: none

Update servicemonitor name
  k8s/helm/partsunlimited-website/templates/service-monitor.yaml
Due: azure-pipelines-web.yml

Rejigging load test
  test/load/load-cron-job.local.yml
  test/load/load-cron-job.release.yml
  test/load/load-job.local.yml
  test/load/load-job.release.yml
  test/load/load-pod.local.yml
Due: none

Fixing comment Changing token name Creating script to run instant load
  k8s/env/monitoring/create-monitoring.sh
  test/load/load-job.release.yml
  test/load/run-instant-load.sh
Due: none

Update k8s version
  k8s/env/aks.sh
Due: none

Fixing scripts
  test/load/create-random-category-cm.sh
  test/load/load-job.local.yml
  test/load/load-job.release.yml
  test/load/run-load.sh
Due: none

Fix cm to allow update
  test/load/create-random-category-cm.sh
Due: none

Update azdo image repo and tag
  k8s/env/deploy-azdo-agents.sh
Due: none

Fix azdo image repo
  k8s/env/deploy-azdo-agents.sh
Due: none

Fix repo name
  k8s/env/deploy-azdo-agents.sh
Due: none

Remove repo
  k8s/env/deploy-azdo-agents.sh
Due: none

Remove unnecessary script
  test/load/run-load.sh
Due: none

Updating grafana version and dashboard
  k8s/env/monitoring/create-monitoring.sh
  k8s/env/monitoring/custom-dashboards/pu-perf-dashboard.json
Due: none

Fixing load test script
  test/load/load-job.local.yml
  test/load/log.txt
  test/load/random-category.lua
Due: none

Removing log file
  test/load/log.txt
Due: none

Removing print path
  test/load/random-category.lua
Due: none

Lower instant load %
  test/load/load-job.local.yml
Due: none

Fixed weight in release files
  test/load/load-job.local.yml
  test/load/load-job.release.yml
Due: none

Adding sql connection string secret script
  k8s/env/create-sql-connectionstring-secret.sh
Due: none

Adding replace logic
  k8s/env/create-sql-connectionstring-secret.sh
Due: none

Adding sql connection string to chart
  k8s/helm/partsunlimited-website/templates/deployments.yaml
  k8s/helm/partsunlimited-website/values.local.yaml
  k8s/helm/partsunlimited-website/values.release.yaml
  k8s/helm/partsunlimited-website/values.yaml
Due: azure-pipelines-web.yml
