Repository sudha-sindhuri/PartsUnlimited: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines-web.yml

azure-pipelines-api.yml:

name: 1.0.0$(Rev:.r)

trigger:
  paths:
    include:
    - src/PartsUnlimited.API
    - k8s/helm/partsunlimited-api

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  azureSubEndpoint: '10M Client Demo'
  acrName: 'cdk8spu.azurecr.io'
  imageRepoName: 'PartsUnlimited-API'

steps:
# - script: docker build -f Dockerfile -t $(imageName) .
#   displayName: 'docker build'
#   continueOnError: true

- task: Docker@1
  displayName: 'Build the image'
  inputs:
    dockerfile: 'api.Dockerfile'
    azureSubscriptionEndpoint: '$(azureSubEndpoint)'
    azureContainerRegistry: '$(acrName)'
    imageName: '$(imageRepoName):$(Build.BuildNumber)'
  continueOnError: false # only set to true if you are running unit tests and need the results

- task: Docker@1
  displayName: 'Push the image'
  inputs:
    command: 'Push an image'
    azureSubscriptionEndpoint: '$(azureSubEndpoint)'
    azureContainerRegistry: '$(acrName)'
    imageName: '$(imageRepoName):$(Build.BuildNumber)'
  condition: succeeded()

azure-pipelines-web.yml:

name: 1.0.0$(Rev:.r)

trigger:
  paths:
    include:
    - src/PartsUnlimitedWebsite
    - k8s/helm/partsunlimited-website

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  azureSubEndpoint: '10M Client Demo'
  acrName: 'cdk8spu.azurecr.io'
  imageRepoName: 'partsunlimited-website'

steps:
# - script: docker build -f Dockerfile -t $(imageName) .
#   displayName: 'docker build'
#   continueOnError: true

- task: Docker@1
  displayName: 'Build the image'
  inputs:
    dockerfile: 'website.Dockerfile'
    azureSubscriptionEndpoint: '$(azureSubEndpoint)'
    azureContainerRegistry: '$(acrName)'
    imageName: '$(imageRepoName):$(Build.BuildNumber)'
  continueOnError: true # to make sure we get the test results even when the tests fail

- script: |
    export id=$(docker images --filter "label=test=true" -q | head -1)
    docker create --name testcontainer $id
    docker cp testcontainer:/testresults ./testresults
    docker rm testcontainer
  displayName: 'get test results'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '**/test*.xml' 
    searchFolder: '$(System.DefaultWorkingDirectory)/testresults'
    publishRunAttachments: true
  displayName: 'Publish test results'

- task: PublishCodeCoverageResults@1
  inputs:
    codeCoverageTool: 'cobertura'
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/testresults/coverage/coverage.cobertura.xml'
    reportDirectory: '$(System.DefaultWorkingDirectory)/testresults/coverage/reports'
  displayName: 'Publish coverage reports'

- task: Docker@1
  displayName: 'Push the image'
  inputs:
    command: 'Push an image'
    azureSubscriptionEndpoint: '$(azureSubEndpoint)'
    azureContainerRegistry: '$(acrName)'
    imageName: '$(imageRepoName):$(Build.BuildNumber)'
  condition: succeeded()

Update azure-pipelines-api.yml for Azure Pipelines
  azure-pipelines-api.yml
Due: none

Fixing echos
  k8s/env/acr.sh
  k8s/env/aks.sh
Due: none

Adding gen-keys
  k8s/env/aks.sh
Due: none

Fix name in helm upgrade cmd
  k8s/env/deploy-azdo-agents.sh
Due: none

Remove keygen
  k8s/env/aks.sh
Due: none

Adding back generate-keys
  k8s/env/aks.sh
Due: none

Adding SPN to script
  k8s/env/aks.sh
Due: none

rename var
  k8s/env/aks.sh
Due: none

Add keygen arg
  k8s/env/aks.sh
Due: none

Add cluster exists check
  k8s/env/aks.sh
Due: none

Adding build-arg to web build
  azure-pipelines-web.yml
Due: none

Adding get version script
  k8s/env/get-canary-version.sh
Due: none

Update script
  k8s/env/get-canary-version.sh
Due: none

Fix script vars
  k8s/env/get-canary-version.sh
Due: none

Adding release values file
  k8s/helm/partsunlimited-api/values.release.yaml
Due: azure-pipelines-api.yml

Adding all endpoint to healthcheck
  src/PartsUnlimited.API/Controllers/HealthController.cs
  src/PartsUnlimitedWebsite/api/HealthController.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Fixing conflicting name
  src/PartsUnlimited.API/Controllers/HealthController.cs
  src/PartsUnlimitedWebsite/api/HealthController.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Fix method name
  src/PartsUnlimited.API/Controllers/HealthController.cs
  src/PartsUnlimitedWebsite/api/HealthController.cs
Due: azure-pipelines-api.yml, azure-pipelines-web.yml

Adding test console
  test/PartsUnlimited.TestConsole/PartsUnlimited.TestConsole.csproj
  test/PartsUnlimited.TestConsole/Program.cs
  test/PartsUnlimited.TestConsole/Properties/launchSettings.json
Due: none

Adding readinessProbe
  k8s/helm/partsunlimited-api/templates/deployments.yaml
Due: azure-pipelines-api.yml

Adding release tokens file
  k8s/helm/partsunlimited-website/values.release.yaml
Due: azure-pipelines-web.yml

Adding DNS for ingress script
  k8s/env/create-dns-for-ingress.sh
Due: none

Adding path routing to ingress
  k8s/helm/partsunlimited-website/templates/ingress.yaml
  k8s/helm/partsunlimited-website/values.release.yaml
  k8s/helm/partsunlimited-website/values.yaml
Due: azure-pipelines-web.yml

Fix command
  k8s/env/create-dns-for-ingress.sh
Due: none

Update path for ingress/service
  k8s/helm/partsunlimited-website/templates/deployments.yaml
  k8s/helm/partsunlimited-website/templates/ingress.yaml
  src/PartsUnlimitedWebsite/Startup.cs
Due: azure-pipelines-web.yml

Fixing return type
  src/PartsUnlimitedWebsite/api/HealthController.cs
Due: azure-pipelines-web.yml

Updating js url root
  src/PartsUnlimitedWebsite/Content/Site.scss
  src/PartsUnlimitedWebsite/Views/Account/ForgotPassword.cshtml
  src/PartsUnlimitedWebsite/Views/Account/Register.cshtml
  src/PartsUnlimitedWebsite/Views/Account/ResetPassword.cshtml
  src/PartsUnlimitedWebsite/Views/Home/Index.cshtml
  src/PartsUnlimitedWebsite/Views/Manage/AddPhoneNumber.cshtml
  src/PartsUnlimitedWebsite/Views/Manage/ChangePassword.cshtml
  src/PartsUnlimitedWebsite/Views/Manage/VerifyPhoneNumber.cshtml
  src/PartsUnlimitedWebsite/Views/Shared/_CommunityList.cshtml
  src/PartsUnlimitedWebsite/Views/Shared/_Layout.cshtml
  src/PartsUnlimitedWebsite/Views/Shared/_ProductList.cshtml
  src/PartsUnlimitedWebsite/Views/ShoppingCart/Index.cshtml
  src/PartsUnlimitedWebsite/Views/Store/Details.cshtml
  src/PartsUnlimitedWebsite/Views/Store/Index.cshtml
  src/PartsUnlimitedWebsite/config.json
Due: azure-pipelines-web.yml

Fixing images url
  src/PartsUnlimitedWebsite/Views/Home/Index.cshtml
  src/PartsUnlimitedWebsite/Views/Shared/_CommunityList.cshtml
  src/PartsUnlimitedWebsite/config.release.json
  templates/release definitions/Deployment.json
Due: azure-pipelines-web.yml

Fix image urls
  src/PartsUnlimitedWebsite/Content/Site.scss
  src/PartsUnlimitedWebsite/Views/Home/Index.cshtml
  src/PartsUnlimitedWebsite/config.json
Due: azure-pipelines-web.yml

Fix image urls
  src/PartsUnlimitedWebsite/Views/Home/Index.cshtml
Due: azure-pipelines-web.yml

Fix hero image urls
  src/PartsUnlimitedWebsite/Controllers/HomeController.cs
  src/PartsUnlimitedWebsite/Views/Home/Index.cshtml
Due: azure-pipelines-web.yml

Remove discount
  src/PartsUnlimitedWebsite/Views/Home/Index.cshtml
Due: azure-pipelines-web.yml

Add discount
  src/PartsUnlimitedWebsite/Views/Home/Index.cshtml
Due: azure-pipelines-web.yml

Remove 3rd carousel
  src/PartsUnlimitedWebsite/Views/Home/Index.cshtml
Due: azure-pipelines-web.yml

Add back 3rd carousel
  src/PartsUnlimitedWebsite/Views/Home/Index.cshtml
Due: azure-pipelines-web.yml

Adding create-pip script
  k8s/env/create-pip.sh
Due: none

Adding helm values file with TLS settings
  k8s/env/traefik.values.release.yaml
Due: none

Split internal/external values file
  k8s/env/traefik.external.values.release.yaml
  k8s/env/traefik.internal.values.release.yaml
Due: none

Add traefikVersion token
  k8s/env/traefik.external.values.release.yaml
  k8s/env/traefik.internal.values.release.yaml
Due: none
